---

// src/components/Header.astro

import styles from "../assets/css/Header.module.css";
import logoL from "../assets/icons/logoL.png";
---

<header class={styles.header}>
    <div class={styles.containerLogo}>
        <img src={logoL.src} alt="Logo Luis" class={styles.logo} />
        <p class={styles.logoText}>Luis Díaz</p>
    </div>
    <nav class={styles.nav}>
        <a href="#home">Home</a>
        <a href="#about">About me</a>
        <a href="#my-journey">Journey</a>
        <a href="#skills">Skills</a>
        <a href="#hobbies">Hobbies</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>
